body {
	background: #ffffff url(../images/fondodf.jpg) repeat left bottom;
	font-family: "Times New Roman", Times, serif;
	margin: 0;
}
#background {
	background: url(../images/fondodf.jpg) repeat-x center top;
	min-height: 1318px;
}
#page {
	width: 960px;
	margin: 0 auto;
}
img {
	border: 0;
}